<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafing</title>
    <link href="index.css" rel="stylesheet">
</head>

<body class = "container full-height-grow" style = "background-image: url('landingBG.png')">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <img src = "logo.png">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
            <ul>
                <li><a href = "list.html">Restaurants</a></li>
                <li><a href = "addPlaces.html">Add Places</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "join.html">Join</a></li>
            </ul>
        </nav>
    </header>
    <section class = "welcome-main-section">
        <h1>
          💡 Inspiration
        </h1>
        <p>
          Research data from Statista and Statistics Canada has shown that "over 20 percent of Canadians observe some committed dietary regimen," and that "more than half (54%) of Canadians reported consuming food away from home at least once a week in 2016." Some of the most common dietary restrictions include vegan, vegetarianism, and gluten intolerance. Hence many problems arise as people with dietary restrictions needs to eat out more often, including the lack of restaurants which provide these special food options and the lack of platforms to share information about those restaurants that do exist. The motivation for this project, Leafing, came from the personal need to eat out with friends who have dietary restrictions.
        </p>
        <h1>
          🥬 What it does
        </h1>
        <p>
            The web application, Leafing, serves as a tool and a community for people with dietary restrictions to share information about restaurants that provide those food options. The welcome/landing page of the website shows four popular dietary restrictions (vegan, vegetarian, gluten-free, and halal) which the user can click to see a list of restaurants in different cities and information about them (addresses, price levels, and ratings). The heading section of the web app contains a button to add restaurants to the database. The user can input information about a restaurant to benefit the rest of the community (name of restaurant, city, address, type of dietary restriction, price level, and ratings). Furthermore, we implemented filters that can sort the list of restaurants based on the type of dietary restriction, city, price range, and ratings. 
        </p>
        <h1>
            📈 What's next for Leafing        
        </h1>
        <p>
            We plan to create another database to store user information, so that users can star/favourite the restaurants they are interested in going to. We plan to add more options for filtering, so the lists of restaurants are more tailored to the needs of users. Also, we want to integrate with Google Maps to have a new window that navigates the user to the restaurant. Then, we will use machine learning to personalize restaurant suggestions. Eventually, we would love to upgrade Leafing from a web application to a mobile app map for people with dietary restrictions. Then, we are thinking about scaling up the community and creating a space for people with dietary restrictions to share ideas and experiences. We want Leafing to be the next Google Map that serves a small proportion of the community, but greatly impacts their lives positively by making eating out with friends a hundred times easier.         </p>
        </p>
    </section>
</body>
</html>
