<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafing</title>
    <link href="index.css" rel="stylesheet">
</head>

<body class = "container full-height-grow" style = "background-image: url('landingBG.png')">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <img src = "logo.png">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
            <ul>
                <li><a href = "list.html">Restaurants</a></li>
                <li><a href = "addPlaces.html">Add Places</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "join.html">Join</a></li>
            </ul>
        </nav>
    </header>
    <section class = "welcome-main-section">
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
        <h1>
          TITLE
        </h1>
        <p>
          Lorem Ipsumsfjaskfhakjfhsa fhsakjfhsakjfhas hfakjfsalkfjsaklfj ashfjhsajkfhas fjaskfhsajkfhas iowqrh wlakaskjfhawu wqjfhwjkf hwqufh wj
        </p>
    </section>
</body>
</html>
