<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafing</title>
    <link href="index.css" rel="stylesheet">
</head>

<body class = "container full-height-grow" style = "background-image: url('landingBG.png')">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <img src = "logo.png">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
            <ul>
                <li>
                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Dietary Restrictions</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="list.html">Vegetarian</a>
                      <a href="list.html">Vegan</a>
                      <a href="list.html">Gluten-Free</a>
                      <a href="list.html">Halal</a>
                    </div>
                  </div>
                </li>
                <li><a href = "addPlaces.html">Add Places</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "join.html">Join</a></li>
            </ul>
        </nav>
    </header>
    <section class = "welcome-main-section">
        <div class = "img-wrapper">
            <div class = "can-image"></div>
        </div>
        <div class = "call to action">
            <h1 class = "title">Leafing Together</h1>
            <p class = "subtitle">A web-based community for people with dietary<br>restrictions to share information about restaurants</p> 
            <a href = "join.html" class = "btn">Join Now</a>
        </div>
    </section>
</body>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
 
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>
</html>