!<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<html>
   <body>
      <form action = "http://localhost:5000/add" method = "post">
         <p>Enter Name:</p>
         <p>Restaurant Name:</p>
         <p><input type = "text" name = "restaurant_name" /></p>
         <p>Address:</p>
         <p><input type = "text" name = "address" /></p>
         <p>Label:</p>
         <p><input type = "text" name = "label" /></p>
         <p>Price:</p>
         <p><input type = "number" name = "price" /></p>
         <p>Rating:</p>
         <p><input type = "number" name = "rating" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
</body>

</html>
