<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafing</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>

<!-- <body class = "container full-height-grow" style="background-image: {{url_for('static', filename='images/landingBG.png') }}"> -->
<body class = "container full-height-grow" style="background-image: url('./static/images/landingBG.png')">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <image src="{{url_for('static', filename='images/logo.png')}}">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
            <ul>
                <li><a href = "/list">Restaurants</a></li>
                <li><a href = "/add">Add Places</a></li>
                <li><a href = "/about">About</a></li>
                <li><a href = "/join">Join</a></li>
            </ul>
        </nav>
    </header>
    <section class = "welcome-main-section">
        <div class = "call-to-action">
            <h1 class = "title">Leafing Together</h1>
            <p class = "subtitle">A web-based community for people with dietary<br>restrictions to share information about restaurants</p> 
            <p class = "subtitle"><br>Click <em>Restaurants</em>, <em>Add Places</em>, <em>About</em>,<br>or <em>Join</em> from the top of the page to explore...</p> 
        </div>
    </section>
</body>
</html>
