<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="styles.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/join.css') }}">
        <title>Join Leafing</title>
    </head>
    <body class="full-height-grow"  style = "background-image: url('./static/images/joinBG.png')">
        <div class="container full-height-grow">
            <header class="main-header">
                <a href="index.html" class="brand-logo">
                    <img src="{{url_for('static', filename='images/logo.png')}}">
                    <div class="brand-logo-name">Leafing</div>
                </a>
                <nav class = "main-nav">
                    <ul>
                        <li><a href = "/list">Restaurants</a></li>
                        <li><a href = "/add">Add Places</a></li>
                        <li><a href = "/about">About</a></li>
                        <li><a href = "/join">Join</a></li>
                    </ul>
                </nav>
            </header>
            <section class="join-main-section">
                <h1 class="join-text">Leafing<br>together.</h1>
                <div class= "form-box">
                    <form class="join-form">
                        <div class = "inputBox">
                            <input type = "text" required = "required">
                            <span>Full Name</span>
                        </div>
                        <div class = "inputBox">
                            <input type = "email" required = "required">
                            <span>Email</span>
                        </div>
                        <div class = "inputBox">
                            <input type = "password" required = "required">
                            <span>Password</span>
                        </div>
                        <div class = "inputBoxSubmit">
                            <button type="submit" class="btn">JOIN NOW</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>

