<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "list.css" rel = "stylesheet">
    <title>Leafing</title>
</head>
<body class = "container full-height-grow">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <img src = "images/logo.png">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
            <ul>
                <li>
                  <select>
                    <option value="vegetarian"><a href="vegetarian.html">Vegetarian</a></option>
                    <option value="vegan"><a href="vegan.html">Vegan</a></option>
                    <option value="gluten-free"><a href="gluten-free.html">Gluten-Free</a></option>
                    <option value="halal"><a href="halal.html">Halal</a></option>
                  </select>
                </li>
                <li><a href = "addPlaces.html">Add Places</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "join.html">Join</a></li>
            </ul>
        </nav>
    </header>
    <section clss = "main-list">
      <h1>Vegetarian</h1>
      <table style="width:100%">
        <tr>
          <th>Restaruant</th>
          <th>Address</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Distance from me</th>
        </tr>
        <tr>
          <td>Restaurant Name</td>
          <td class = "address">addrsdfjdskl</td>
          <td>$$$</td>
          <td>5</td>
          <td>distance</td>
        </tr>
        <tr>
          <td>Restaurant Name</td>
          <td class = "address">addr</td>
          <td>$$$</td>
          <td>5</td>
          <td>distance</td>
        </tr>
        <tr>
          <td>Restaurant Name</td>
          <td class = "address">adsfsgsgsgsgddsgsgfjgfjgddr</td>
          <td>$$$</td>
          <td>5</td>
          <td>distance</td>
        </tr>
      </table>
    </section>
</body>
</html>
