<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafing</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/thankyou.css') }}">
</head>

<body class = "container full-height-grow" style = "background-image: url('./static/images/thank-youBG.png')">
    <header class = "main-header">
        <a href = "/" class = "brand-logo">
            <img src = "{{url_for('static', filename='images/logo.png')}}">
            <div class = "brand-logo-name">Leafing</div>
        </a>
        <nav class = "main-nav">
          <ul>
              <li><a href = "/list">Restaurants</a></li>
              <li><a href = "/add">Add Places</a></li>
              <li><a href = "/about">About</a></li>
              <li><a href = "/join">Join</a></li>
          </ul>
        </nav>
    </header>
    <section class = "welcome-main-section">
        <h1>Thank you for contributing</h1>
    </section>
</body>
</html>
