@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color:#f0f8ff;
    font-family: Poppins, sans-serif;
    font-size: large;
    color:seagreen;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo img {
    width: 60px;
    margin-bottom: 10px;
}

.brand-logo-name {
    margin-left: 1em;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 2em;
}

.main-nav a:hover {
    color:seagreen;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: #f0f8ff;
    background-color: seagreen;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
}

/* new stuff */

h1 {
  font-size: 60px;
  margin-bottom:0;
}

table {
  border-spacing: 0;
}

th {
  padding-right: 15px;
  font-size: 45px;
  border-bottom:3px solid seagreen;
}

tr {
  text-align: left;
}

td {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom:1px solid seagreen;
  font-size: 28px
}

.address {
  max-width: 5px;
  overflow-wrap: break-word;
}

.filter-form {
  width: 100%
}

.filter {
  display: inline-block;
  font-size: 20px;
  margin: 8px;
}

input[type="text"] {
  border-radius: 5%;
  border: 2px seagreen solid;
  width: 200px;
  height: 30px;
}

input[type="number"] {
  border-radius: 5%;
  border: 2px seagreen solid;
  width: 100px;
  height: 30px;
}

input[type="checkbox"] {
  border-radius: 5%;
  border: 2px seagreen solid;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  border: 2px seagreen solid;
  border-radius: 5%;
  background-color: white;
  color: seagreen;
  width: 220px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 35px;
}

input[type="submit"]:hover {
  margin-top: 20px;
  border: 2px seagreen solid;
  border-radius: 5%;
  background-color: seagreen;
  color: white;
  width: 220px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 35px;
}
